#container-table {
	overflow-x: auto;
	table-layout: auto;	
	max-width: 100%;
	word-wrap: break-word;
  }

table {
	margin-top: 0px;
	border-bottom: 1px solid #eee;
	width: 100%;
	table-layout: auto;
	border: none;
	word-wrap: break-word;
}

table th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 15px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
table td {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}

table tr:nth-child(even){
	background: #f3f3f3;
}

table tr:hover {
	background-color: #f5eedd;
}

.table-personals-hours {
	border: 1px solid #000000;
	max-height: 16pc;
	overflow-y: auto;
	max-width: 70%;
}

.table-personal-hours {
	max-height: 50pc;
	overflow-y: auto;
}

.sticky-head {
	
}

.container-two-tables {
	display: flex; /* Включаем Flexbox */
	justify-content: space-between; /* Распределяем пространство между элементами */
	align-items: center; /* Выравниваем элементы по вертикали */
	border: 1px solid #ccc; /* Граница для наглядности */
	padding: 10px; /* Отступ внутри контейнера */
}


.twoTables {
	display: flex; /* Используем Flexbox для расположения блоков */
	width: 100%; /* Контейнер занимает всю ширину экрана */
  }
.left {
	flex: 1; /* Занимает 1 часть доступного пространства */
	background-color: rgb(255, 255, 255); /* Цвет фона для наглядности */
	display: inline-block;
	align-items: center;
	justify-content: center;
	border: 1px solid #b1b1b1;
	border-radius: 5px 0px 0px 5px;
}
.right {
	flex: 4; /* Занимает 3 части доступного пространства */
	background-color: rgb(250, 250, 250); /* Цвет фона для наглядности */
	display: block;
	align-items: center;
	justify-content: center;
	border: 1px solid #b1b1b1;
	border-radius: 0px 5px 5px 0px;
	min-height: 80%;
}

.inner-block {
  background-color: white; /* Цвет фона внутренних блоков */
  margin: 5px; /* Отступы между внутренними блоками */
  padding: 5px; /* Внутренний отступ */
  text-align: center;
  border: 1px solid #272727; /* Граница для наглядности */
  border-radius: 5px;
}

.inner-block:hover {
	background-color: rgb(255, 226, 171);
}

.infoBlock {
	width: 90%;
	height: 3vh;
	display: flex;
	padding: 5px 0;
}

.inputInfo {
	flex: 3;
	font-weight: bold;
}

.infoLabel {
	flex: 1;
	font-weight: bold;
	margin: 5px;
	vertical-align: auto;
}

.list {
	border: 1px solid #272727;
	margin: 10px;
	padding: 20px;
}

.A4Table {
	border: 1px solid #000000;
}

#container-current-person {
	padding: 5px;
}

.text-align-center {
	text-align: center;
}