@import url("style-fonts.css");
@import url("style-tables.css");


body {
    background-color: #fcfcfc;
    color: #000000;
    font-family: 'Roboto-Light';
    font-size: 20px;
    margin: 0;
    -webkit-user-select: none;
}

#main {
    margin: 5px;
}

#tm {
    background-color: #11212d;
    width: 100%;
}

#tm-header {
    padding: 7px;
    display: flex;
}

#tm-text-logo {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: auto 0;
}

#tm-icon-link {
    width: 50px;
    height: 50px;
    background-color: #ccd0cf;
    border-radius: 10px;
    margin: 3px;

    display: flex; 
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

#tm-icon-link:hover {
    background-color: #72dfd9;
    border-radius: 35%;
    transition: 0.1s;
}

#tm-icon-link-img {
    height: 30px;
    width: 30px;
    pointer-events: none;
}