@import url("style-fonts.css");
@import url("style-tables.css");
@import url("style-tooltip.css");
@import url("style-addcards.css");
@import url("style-deletecards.css");
@import url("style-sidebar.css");



body {
    background-color: #fcfcfc;
    color: #000000;
    font-family: 'Arial';
    font-size: 16px;
    margin: 0;
    user-select: none; 
}

.icon-img {
    width: 20px;
    height: 20px;
    margin: 5px;
}

#tm {
    background-color: #4db6e7;
    width: 100%;
}

#tm-header {
    max-height: 50px;
    min-height: 50px;
    display: flex;
}

#tm-header-button {
    background-color: #4db6e7;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#tm-header-button:hover {
    background-color: #2792c4;
    color: #f8f8f8;
}

.page {
    color: white;
    font-size: 16px;
}

.active {
    background-color: rgb(255, 201, 181);
}

#buttons-field {
    display: inline-block;
    padding: 10px;
}

button {
    font-size: 16px;
    padding: 5px;
    background-color: white;
    border: 1px solid;
    border-color: #000000;
    border-radius: 5px;
    color: black;
    transition: 0.3s;
}

.button-add-row {
    width: 100%;
    background-color: #ffebe9;
    transition: 0.5s;
}
.button-add-row:hover {
    background-color: #dde6d2;
    transition: 0.5s;
}


#open-add-card, #open-add-card-flows, #open-add-card-groups {
    padding: 5px 10px;
}

button:hover {
    background-color: rgb(230, 230, 230);
    transition: 0.3s;
}

.button-cont {
    border-radius: 5px;
    width: 700px;
    margin: 1px;
}

#main {
    margin: 1px;
}

#container-of-type-students, #container-new-person, #container-new-plan {
    display: none;
}

#table-from-file {
    padding: 15px
}

.two-tables {
    display: flex;
    flex-direction: row;
}

#input-fillter {
    width: 45%;
    float: right;
}

#testDialog {
    border: 1px solid;
    border-color: #000000;
    border-radius: 5px;
}
 
.saveButton {
	margin: 5px;
	float: right;
}

.deleteButton {
	margin: 5px;
	float: right;
	background-color: #f7d1d1;
}

option {
    max-width: 300px;
	word-wrap: break-word;
}

select {
    font-size: 16px;
    padding: 5px;
    background-color: white;
    border: 1px solid;
    border-color: #000000;
    border-radius: 5px;
    color: black;
    transition: 0.3s;
}

select:hover {
    background-color: #dddddd;
    transition: 0.3s;
}

select option {
    background-color: white;
}

.edit-cell {
    background-color: #ffd884;
}

#container-data {
    padding: 5px;
}

#syllabus-input {
    width: 100%;
}
